POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=meteo_visualizer
DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
REDIS_URL=redis://redis:6379
APP_HOST=0.0.0.0
APP_PORT=6049
APP_RELOAD=False
ALLOW_ORIGINS=http://localhost:6050,http://127.0.0.1:6050
AUTH_TOKEN_SECRET_KEY=91b7e87ae8279bbb7788b08786cacbf4356e0e4fcb8b5cbc67d5bc1d2d9995db
AUTH_TOKEN_ALGORITHM=HS256