DATABASE_URL=postgresql+asyncpg://postgres:password@localhost:5432/meteo_visualizer
REDIS_URL=redis://127.0.0.1:6379
APP_HOST=0.0.0.0
APP_PORT=5049
APP_RELOAD=True
ALLOW_ORIGINS=http://localhost:5050,http://127.0.0.1:5050
AUTH_TOKEN_SECRET_KEY=91b7e87ae8279bbb7788b08786cacbf4356e0e4fcb8b5cbc67d5bc1d2d9995db
AUTH_TOKEN_ALGORITHM=HS256