POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=meteo_visualizer
DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}

REDIS_URL=redis://127.0.0.1:6379

APP_HOST=0.0.0.0
APP_PORT=5049
APP_RELOAD=False
ALLOW_ORIGINS=http://localhost:5050,http://127.0.0.1:5050

AUTH_TOKEN_SECRET_KEY=91b7e87ae8279bbb7788b08786cacbf4356e0e4fcb8b5cbc67d5bc1d2d9995db
AUTH_TOKEN_ALGORITHM=HS256

INITIAL_DATA_PATH=./initial_data/data_2_roles_1_user.yaml
INITIAL_USERS_PASSWORD=super_secret_base_password